.mainContentWrapper{
  background-image: url("../../../static/img/it-rb.png");
  background-repeat: no-repeat;
  background-size: auto;
  /* background-color: #0A141C;   */
  background-position: 50% 50%;  
  /* -webkit-box-shadow: inset 0px -200px 119px -40px #16181d;   */
  /* box-shadow: inset 0px -150px 119px -40px #16181d; */

  min-height: 10vh;
  /* padding-top: 12.5rem;
  padding-bottom: 7.5rem;   */
}

.title{
  /* font-size: 90px;
  font-weight: 400;
  line-height: 1.3em;
  text-align: center; */
}

